.container {
}

*,
html {
    margin: 0;
    padding: 0;
}


.container-navbar {
    height: 15vh;
    background-color: rgba(228, 45, 173, 0.548);
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    color: white;
    margin: 5px;
}
.li-navbar:hover {
    background-color: tomato;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.container-content {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.img-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px black;
    -webkit-box-shadow: 21px 11px 22px 6px rgba(0,0,0,0.89); 
    box-shadow: 21px 11px 22px 6px rgba(0,0,0,0.89);
    width: 400px;
    height: 500px;
}

.img-content-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px black;
    -webkit-box-shadow: 21px 11px 22px 6px rgba(0,0,0,0.89); 
    box-shadow: 21px 11px 22px 6px rgba(0,0,0,0.89);
    width: 100%;
    height: 80%;
}

.container-content-contact {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container-footer {
    height: 10vh;
    background-color: rgb(65, 65, 66);
    display: flex;
    justify-content: center;
    align-items: center;
}  

.h1-footer {
    font-size: 40px;
    color: azure;
}

.a-navbar {
    font-size: 30px;
    color: white;
    text-decoration: none;
}